<jgh-lib-full-width-info-bar>
  <jgh-lib-headline-block class="opacity-80">
    <span subtitle class="text-stone-50">pricing</span>
    <span class="uppercase text-stone-50">
      find <span class="text-red-600">your</span> plan
    </span>
  </jgh-lib-headline-block>
</jgh-lib-full-width-info-bar>
<jgh-bt-dotted-section
  sectionClasses="bg-stone-50 dotted-background p-1 sm:p-8 flex items-center justify-center gap-8 overflow-hidden"
>
  <jgh-bt-plans [plans]="pricingService.plans"></jgh-bt-plans>
</jgh-bt-dotted-section>
<section class="flex flex-col gap-20 py-20 px-4 sm:px-12 bg-stone-50">
  <jgh-lib-headline-block>
    <span subtitle class="text-stone-700">gym-area</span>
    <span class="uppercase text-stone-700">Build your body</span>
    <span description class="text-stone-700">
      Give your muscles the pump they deserve.
    </span>
  </jgh-lib-headline-block>

  <!-- Info Accordion -->
  <jgh-lib-info-accordion-block
    [image]="accordion.image"
    [rtl]="accordion.rtl || false"
    [backgroundColor]="accordion.colors?.background"
    *ngFor="let accordion of accordeons"
  >
    <ng-container title>
      {{ accordion.subtitle }}
    </ng-container>
    <ng-container headline>
      {{ accordion.title }}
    </ng-container>
    <ng-container accordions>
      <jgh-lib-accordion-element
        *ngFor="let acc of accordion.elements; let i = index"
        [accordion]="acc"
        [color]="accordion.colors?.elements"
        [index]="i"
      >
        <span title>
          {{ acc.title }}
        </span>
        <span content>
          {{ acc.content }}
        </span>
      </jgh-lib-accordion-element>
    </ng-container>
  </jgh-lib-info-accordion-block>
</section>
