.glowy-background {
  background-image: url('/assets/images/background/color-glow.webp');
  background-size: cover;
  background-position: center;
  background-color: #000;
  background-position: 50% 50%;
  background-size: cover;
}
