.gallery {
  box-sizing: border-box;
  overflow-y: auto;

  .swiper {
    height: 100%;
  }
}
.gallery-slider {
  .swiper-slide {
    height: 100%;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 5;
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 40%,
        #0000006c 90%
      );
    }

    &.dark {
      &::after {
        background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 10%,
          #000000cd 90%
        );
      }
    }
  }
}
.gallery-thumbs {
  .swiper-slide {
    .bg-image {
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: 5;
        background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 60%,
          #000000b0 90%
        );
      }
    }
  }
}

.main-scrollbar {
  .swiper-scrollbar {
    position: relative;
    inset: auto;
    background-color: rgba(245, 245, 244, 0.25);

    .swiper-scrollbar-drag {
      background-color: rgba(245, 245, 244, 0.5) !important;
    }
  }
}

.fadeInText {
  opacity: 0;
  transform: translateY(1rem);

  &.active {
    --transition-duration: 300ms;
    --transition-delay: 400ms;

    opacity: 1;
    transform: translateY(0);
    transition: opacity var(--transition-duration) ease-out,
      transform var(--transition-duration) ease-out;
    transition-delay: var(--transition-delay);
  }
}
