<section
  id="header-section"
  class="relative h-full flex items-center bg-[rgb(116,16,16)]"
>
  <div
    class="absolute inset-0 landscape:bg-left portrait:bg-center portrait:bg-cover landscape:bg-contain bg-no-repeat portrait:bg-[url('assets/images/background/home/bg-portrait.jpg')] landscape:bg-[url('assets/images/background/home/asd.jpg')] opacity-90"
  >
    <!-- <jgh-lib-picture-element
      [fitToParent]="true"
      landscapeImagePath="images/background/home"
      landscapeImage="background-main.jpg"
    ></jgh-lib-picture-element> -->
  </div>
  <div
    class="mx-auto max-w-7xl w-full p-8 lg:px-24 flex justify-end relative z-10"
  >
    <div class="flex flex-col gap-10 text-stone-50 uppercase">
      <span>
        Find your
        <span class="relative ml-1 p-2 border-l-2 border-solid border-rose-400">
          <span
            class="absolute inset-0 pl-1 bg-gradient-to-r from-rose-300 to-rose-50 opacity-20"
          >
          </span>
          {{ words[wordsIndex] }}
        </span>
      </span>
      <h2 class="text-5xl leading-normal tracking-wide">
        <span class="font-bold">Make your body</span><br />fit &
        <span class="text-red-600 font-black">strong</span>
      </h2>
      <jgh-bt-cta routerLink="/courses">our classes</jgh-bt-cta>
    </div>
  </div>
</section>
