<section class="flex flex-col justify-center bg-stone-50 py-12 gap-10 relative">
  <div class="absolute inset-0 scratched-bg opacity-20"></div>
  <div class="relative z-10 flex flex-col gap-10">
    <jgh-lib-headline-block>
      <span subtitle>Testimonials</span>
      <span class="uppercase">What our members say</span>
      <span description> Our favorite quotes </span>
    </jgh-lib-headline-block>

    <div
      class="m-auto max-w-5xl w-full relative py-28 border-solid border-[1px] border-stone-200 rounded-xl"
    >
      <jgh-lib-testimonial
        *ngFor="let testimonial of testimonials"
        [testimonial]="testimonial"
      ></jgh-lib-testimonial>
    </div>
  </div>
</section>
