<section class="bg-white">
  <jgh-bt-dotted-section>
    <div
      class="mx-auto max-w-7xl w-full py-8 sm:py-20 px-4 sm:px-8 lg:px-12 flex flex-col gap-4"
    >
      <p class="font-bold tracking-[0.2em] uppercase text-center">
        Achieve your fitness goals
      </p>
      <p class="text-6xl sm:text-9xl font-black uppercase text-center">
        find your strength
      </p>
      <div
        [ngClass]="{ 'after:bg-stone-900 after:z-10': video.paused }"
        class="rounded-[3rem] mt-8 sm:mt-0 cursor-pointer shadow-2xl relative overflow-hidden aspect-video after:content-[''] after:absolute after:inset-0 after:opacity-10 hover:after:opacity-80 after:transition-all"
      >
        <video
          #video
          (click)="pauseVideo()"
          poster="assets/images/background/blog/info-block/block-4.jpg"
          class="relative w-full z-[5] h-full object-cover"
        >
          <source
            type="video/mp4"
            src="https://firebasestorage.googleapis.com/v0/b/jgh-dev.appspot.com/o/videos%2Fstudio.mp4?alt=media&token=cd68ff19-fd24-4b54-9595-0217f8f69cfa"
          />
        </video>

        <div
          *ngIf="videoPlayer?.nativeElement?.paused"
          (click)="playVideo()"
          class="absolute inset-0 z-20 grid place-items-center"
        >
          <span
            class="text-6xl sm:text-[9rem] leading-none font-black uppercase text-center relative z-10 text-stone-50"
          >
            Inside <br />
            and out.
          </span>
        </div>
        <div
          class="absolute bottom-0 w-full px-6 py-2 sm:py-4 lg:p-12 flex justify-between items-center text-white z-20 opacity-75"
        >
          <div class="hidden lg:block">
            <p>We are dedicated to helping you achieve your fitness</p>
            <p>goals and improve your overall health and well-being</p>
          </div>
          <div class="flex items-center gap-2 sm:gap-4 ml-auto">
            3 min
            <fa-icon [icon]="play" size="2xl" class="text-white"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </jgh-bt-dotted-section>
</section>
