<jgh-lib-highlight-slider></jgh-lib-highlight-slider>

<section class="h-full relative bg-white dark:bg-stone-800">
  <!-- Slider main container -->
  <div class="swiper bg-rose-400 pt-20">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="relative aspect-[16/6] bg-stone-50 w-screen"></div>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
  </div>
</section>

<section
  class="relative h-full p-12 bg-stone-50 flex items-center justify-center"
>
  <div
    class="scroll-wrapper scrollbar-none relative flex flex-col flex-wrap gap-4 w-full h-full overflow-x-auto"
    style="scroll-snap-type: x mandatory"
  >
    <div class="slide relative w-full h-full snap-start flex items-center">
      <div class="mx-auto max-w-4xl w-full flex flex-col gap-4">
        <jgh-lib-headline-block>
          <span subtitle class="text-stone-700">gym-area</span>
          <span class="uppercase text-stone-700">Build your body</span>
          <span description class="text-stone-700">
            Give your muscles the pump they deserve.
          </span>
        </jgh-lib-headline-block>
        <div
          class="rounded-xl aspect-[2] w-full bg-rose-400 bg-center bg-cover"
          style="
            background-image: url(https://images.unsplash.com/photo-1581009146145-b5ef050c2e1e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80);
          "
        ></div>
        <div class="grid grid-cols-3 gap-4">
          <div
            class="rounded-xl aspect-[2] bg-rose-400 bg-center bg-cover"
            style="
              background-image: url(https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=775&q=80);
            "
          ></div>
          <div
            class="rounded-xl aspect-[2] bg-rose-400 bg-center bg-cover"
            style="
              background-image: url(https://images.unsplash.com/photo-1540497077202-7c8a3999166f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
            "
          ></div>
          <div
            class="rounded-xl aspect-[2] bg-rose-400 bg-center bg-cover"
            style="
              background-image: url(https://images.unsplash.com/photo-1596357395217-80de13130e92?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80);
            "
          ></div>
        </div>
      </div>
    </div>
    <div class="slide relative w-full h-full bg-purple-400 snap-start"></div>
    <div class="slide relative w-full h-full bg-red-400 snap-start"></div>
    <div class="slide relative w-full h-full bg-yellow-400 snap-start"></div>
  </div>
</section>

<jgh-lib-google-maps></jgh-lib-google-maps>
