.scroll-wrapper {
  -webkit-scrollbar-color: #6969dd #e0e0e0;
  -webkit-scrollbar-width: thin;
  scrollbar-color: #6969dd red;
  scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
      max-height: 50px;
      border-radius: 200px;
    }

//   &::-webkit-scrollbar {
//     width: 0px;
//     height: 0px;
//   }

//   &::-webkit-scrollbar-track {
//     background: transparent;
//   }

//   &::-webkit-scrollbar-thumb {
//     background-color: #ccc;
//     max-height: 50px;
//     border-radius: 200px;
//   }
}
