<section class="h-full relative">
  <!-- Slider main container -->
  <div class="swiper bg-rose-400 w-full h-full">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="relative w-full h-full bg-purple-400">
          <div
            class="relative w-full h-full grid place-items-center bg-center bg-cover after:content-[''] after:h-1/6 after:absolute after:w-full after:bg-gradient-to-b after:from-black after:top-0 after:opacity-60"
            style="
              background-image: url('assets/images/background/blog/info-block/block-3.jpg');
            "
          >
            <div class="relative">
              <h3
                class="text-stone-50 text-2xl uppercase font-bold mb-2 tracking-[0.2em] mix-blend-overlay"
              >
                Feel at home at
              </h3>
              <h1
                class="shiny-headline text-9xl font-black text-stone-50 tracking-wide leading-[5.65rem]"
              >
                GYMBROS
              </h1>
              <!-- <h1
                class="shiny-headline text-9xl font-black text-stone-50 tracking-wide -scale-y-100 leading-[5.65rem] opacity-20"
              >
                GYMBROS
              </h1> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
  </div>
</section>
<section class="bg-stone-50">
  <div class="max-w-5xl w-full mx-auto grid sm:grid-cols-2 gap-6 py-12 px-8">
    <div
      class="card aspect-square rounded-3xl bg-gray-100 flex justify-center items-center relative"
    >
      <img src="assets/images/pages/the-gym/cut-out-1.png" class="h-3/4" />
    </div>
    <div
      class="card aspect-square rounded-3xl bg-gray-100 flex justify-center items-center relative"
    >
      <img src="assets/images/pages/the-gym/cut-out-2.png" class="h-3/4" />
    </div>
  </div>
</section>
<section class="flex items-center bg-stone-50">
  <jgh-bt-dotted-section class="w-full min-h-full">
    <div class="mx-auto w-full max-w-7xl py-20 px-4 lg:px-12">
      <span class="text-5xl uppercase font-bold block mb-8">
        <fa-icon [icon]="location"></fa-icon> You can find us here
      </span>
      <div class="rounded-xl overflow-hidden shadow-xl">
        <jgh-lib-google-maps height="60vh"></jgh-lib-google-maps>
      </div>
    </div>
  </jgh-bt-dotted-section>
</section>
