.shiny-headline {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  background-image: linear-gradient(
    60deg,
    #ffffff 28.57%,
    transparent 28.57%,
    transparent 50%,
    #ffffff 50%,
    #ffffff 78.57%,
    transparent 78.57%,
    transparent 100%
  );
  background-size: 182.76px 217.8px;
  background-size: 182.76px 280.8px;
  background-clip: text;
  animation: shine 3s infinite linear;
  mix-blend-mode: overlay;
}

@keyframes shine {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 182.76px 0;
  }
}
