.fadeInRotateRight {
  animation: fadeInRotateRight 0.75s ease-in-out forwards;
}

.fadeInRotateLeft {
  animation: fadeInRotateLeft 0.75s ease-in-out forwards;
}

.wiggle {
  animation: wiggle 10.75s ease-in-out infinite alternate;
}

@keyframes fadeInRotateRight {
  0% {
    opacity: 0;
    transform: rotate(1deg) translateY(15%);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
}

@keyframes fadeInRotateLeft {
  0% {
    opacity: 0;
    transform: rotate(-2deg) translateY(5%);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(2deg) scale(1.05);
  }
}