<section class="relative h-full portrait:h-4/5 portrait:sm:h-full">
  <jgh-bt-blog-slider></jgh-bt-blog-slider>
</section>
<section class="bg-stone-50">
  <div
    class="mx-auto max-w-7xl 3xl:max-w-[2000px] w-full relative flex flex-col gap-4 px-8 md:px-4 xl:px-0"
  >
    <div
      class="chip-list flex gap-4 mt-6 mb-2 items-center overflow-x-auto hidden-scrollbar"
      style="scroll-snap-type: x mandatory"
    >
      <jgh-bt-chip
        [passiveColor]="true"
        [active]="i === 0"
        style="scroll-snap-align: start"
        *ngFor="
          let chip of ['Crossfit', 'Boxing', 'Fitness', 'Meditation', 'Yoga', 'Pilates', 'Dance'];
          let i = index
        "
      >
        {{ chip }}
      </jgh-bt-chip>
    </div>
    <div class="blog-posts grid sm:grid-cols-2 3xl:grid-cols-3 gap-x-8 gap-y-20">
      <jgh-lib-blog-preview-card
        *ngFor="let blogPost of blogPosts"
        [blogPost]="blogPost"
      ></jgh-lib-blog-preview-card>
    </div>
  </div>
</section>
