<jgh-bt-dotted-section
  sectionClasses="bg-stone-50 dotted-background p-8 flex items-center gap-8 overflow-hidden"
>
  <div class="shrink w-1/4">
    <jgh-lib-headline-block>
      <span subtitle class="text-stone-600">Gym Plans</span>
      <span class="uppercase text-stone-600">Choose your plan</span>
      <span description class="text-stone-600">
        Our expert team of coaches helps you succeed in any goal. Make your body
        great again.
      </span>
    </jgh-lib-headline-block>
  </div>
  <div class="grow">
    <jgh-bt-plans [plans]="plans"></jgh-bt-plans>
  </div>
</jgh-bt-dotted-section>
