<jgh-bt-dotted-section
  sectionClasses="bg-stone-50 dotted-background px-4 py-8 lg:px-8 flex flex-col lg:flex-row items-center gap-4 lg:gap-8 overflow-hidden"
>
  <div class="shrink-0 lg:shrink lg:w-1/4 w-full">
    <jgh-lib-headline-block>
      <span subtitle class="text-stone-600">Gym Plans</span>
      <span class="uppercase text-stone-600">Choose your plan</span>
      <span description class="text-stone-600">
        Our expert team of coaches helps you succeed in any goal. Make your body
        great again.
      </span>
    </jgh-lib-headline-block>
  </div>
  <div class="grow">
    <jgh-bt-plans [plans]="plans"></jgh-bt-plans>
  </div>
</jgh-bt-dotted-section>
