@tailwind base;
@tailwind components;
@tailwind utilities;

@import './assets/scss/background.scss';
@import './assets/scss/animations.scss';
@import './assets/scss/utilities.scss';
/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
