<jgh-lib-content-slider></jgh-lib-content-slider>
<!-- <jgh-monorepo-triple-text-image-section>
  <div class="h-screen" left>
    <jgh-monorepo-vertical-slider></jgh-monorepo-vertical-slider>
  </div>
</jgh-monorepo-triple-text-image-section> -->
<!-- <jgh-monorepo-triple-text-image-section>
  <ng-container left>
    <jgh-monorepo-info-card-large></jgh-monorepo-info-card-large>
  </ng-container>
  <ng-container right>
    <jgh-monorepo-tw-info-card></jgh-monorepo-tw-info-card>
  </ng-container>
  <img main-image src="../../../../assets/images/svg/experience_design.svg" />
</jgh-monorepo-triple-text-image-section> -->
<!-- <section class="h-full">
  <jgh-monorepo-splitted-info-screen ></jgh-monorepo-splitted-info-screen>
</section> -->

<!-- <section class="h-full bg-rose-400">
  <jgh-monorepo-authentication-stepper></jgh-monorepo-authentication-stepper>
</section> -->
<!-- <section class="h-full xl:p-8 relative bg-stone-100">
  <div
    class="content-wrapper w-full h-full grid xl:gap-1 grid-cols-[max-content,_auto]"
  >
    <div
      class="w-0 overflow-x-hidden overflow-y-auto scrollbar-custom flex flex-col gap-12 lg:w-80 sm:p-8 xl:p-0"
    >
      <div
        *ngFor="let slide of slider.slides; let index = index"
        [ngClass]="{
          'opacity-10': currentIndex !== index
        }"
        class="group project cursor-pointer hover:opacity-70"
        (click)="slider.selectSlide(index)"
      >
        <h2
          class="font-bold mb-2"
          [ngClass]="{
            'text-6xl leading-[3.75rem] text-rose-400': currentIndex === index,
            'text-3xl': currentIndex !== index
          }"
        >
          0{{ index + 1 }}
        </h2>
        <h3 class="text-xl font-bold">BRANDING & INTERACTION</h3>
        <div class="tags flex flex-row gap-2">
          <div
            *ngFor="let tag of slide.body.tags"
            class="rounded-2xl text-[0.5rem] leading-[0.75rem] py-1 px-2 bg-rose-400 text-stone-50"
          >
            {{ tag }}
          </div>
        </div>
        <span class="text-sm opacity-65">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </span>
      </div>
    </div>
    <jgh-monorepo-content-slider
      #slider
      (indexChange)="changeCurrentIndex($event)"
    ></jgh-monorepo-content-slider>
  </div>
</section> -->
<!-- <section
  class="w-full h-full bg-stone-50 grid grid-cols-3 px-8 place-items-center"
>
  <div class="flex flex-col gap-4 col-span-2">
    <h2
      class="image-background inline-block 2xl:text-[7rem] sm:text-7xl text-6xl font-extrabold leading-none"
    >
      Amazing websites
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
      voluptates, quod, quia, voluptate quae voluptatem quibusdam voluptatum
      quos quidem nemo quas. Quisquam, quae. Quisquam, quae.
    </p>
  </div>
</section> -->
