<!-- <jgh-monorepo-triple-text-image-section>
  <div class="h-screen" left>
    <jgh-monorepo-vertical-slider></jgh-monorepo-vertical-slider>
  </div>
</jgh-monorepo-triple-text-image-section> -->
<!-- <jgh-monorepo-triple-text-image-section>
  <ng-container left>
    <jgh-monorepo-info-card-large></jgh-monorepo-info-card-large>
  </ng-container>
  <ng-container right>
    <jgh-monorepo-tw-info-card></jgh-monorepo-tw-info-card>
  </ng-container>
  <img main-image src="../../../../assets/images/svg/experience_design.svg" />
</jgh-monorepo-triple-text-image-section> -->
<!-- <section class="h-full">
  <jgh-monorepo-splitted-info-screen ></jgh-monorepo-splitted-info-screen>
</section> -->

<!-- <section class="h-full bg-rose-400">
  <jgh-monorepo-authentication-stepper></jgh-monorepo-authentication-stepper>
</section> -->
<section class="h-full sm:p-8 relative bg-stone-100 ">
  <div class="content-wrapper w-full h-full grid grid-cols-[max-content,_auto]">
    <div class="sm:w-80">

    </div>
    <jgh-monorepo-content-slider #slider></jgh-monorepo-content-slider>
    <!-- <jgh-monorepo-slider></jgh-monorepo-slider> -->
  </div>
</section>
<!-- <section
  class="w-full h-full bg-stone-50 grid grid-cols-3 px-8 place-items-center"
>
  <div class="flex flex-col gap-4 col-span-2">
    <h2
      class="image-background inline-block 2xl:text-[7rem] sm:text-7xl text-6xl font-extrabold leading-none"
    >
      Amazing websites
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
      voluptates, quod, quia, voluptate quae voluptatem quibusdam voluptatum
      quos quidem nemo quas. Quisquam, quae. Quisquam, quae.
    </p>
  </div>
</section> -->
