button {
  color: #fff !important;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: red !important;
  }

  &.active {
    border-bottom: 2px solid #ff0000;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
