<jgh-lib-toolbar position="fixed">
  <div
    class="absolute inset-0"
    [ngClass]="{ 'bg-[#3339]': (scrollDistance$ | async)! > 0 }"
  ></div>
  <div class="flex items-center justify-between w-full relative z-10">
    <img
      [ngSrc]="'assets/images/logo/bt-logo-48.png'"
      height="40"
      width="98"
      style="height: 40px"
    />
    <div class="lg:landscape:flex items-center gap-4 hidden">
      <button
        mat-button
        *ngFor="let link of links"
        class="hover:text-red-500"
        [routerLink]="['/', link.path]"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        {{ link.label }}
      </button>
    </div>
    <div
      class="group rounded-3xl border-2 border-solid border-stone-50 grid place-items-center cursor-pointer p-[2px]"
      matTooltip="Book your free trial today. Mo-Su 8am-10pm"
    >
      <div
        class="px-4 py-2 rounded-3xl text-stone-50 group-hover:bg-stone-50 group-hover:text-stone-600 transition-all"
      >
        <span
          class="uppercase font-bold block relative text-xs tracking-[0.2em]"
        >
          Free Trial
        </span>
      </div>
    </div>
    <!-- <jgh-lib-user-dropdown></jgh-lib-user-dropdown> -->
  </div>
</jgh-lib-toolbar>
