.notification-error {
  .mdc-snackbar__surface {
    background-color: #f44336 !important;
    color: #fff;
  }
  .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
    color: #fff !important;
  }
}
