<jgh-lib-full-width-info-bar
  image="https://images.unsplash.com/photo-1611988615248-5d4f0b9ac31e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
>
  <jgh-lib-headline-block>
    <span subtitle class="text-stone-50">save the date</span>
    <span class="uppercase text-stone-50">WELLSPIRIT DAY</span>
    <span description class="text-stone-50">
      Our expert team of coaches helps you succeed in any goal. Make your body
      great again.
    </span>
  </jgh-lib-headline-block>
</jgh-lib-full-width-info-bar>
<section class="dotted-background">
  <div class="mx-auto max-w-7xl w-full py-12 flex flex-col gap-8">
    <jgh-bt-weekday-selector></jgh-bt-weekday-selector>
    <div
      class="flex flex-col gap-2"
      *ngIf="scheduleService.courses$ | async as courses; else loading"
    >
      <jgh-bt-course-card
        *ngFor="let course of courses"
        [course]="course"
      ></jgh-bt-course-card>
    </div>
  </div>
</section>

<ng-template #loading>loading...</ng-template>
