.slide {
  --animation-duration: 1000ms;

  position: absolute;
  inset: 0;
  overflow: hidden;
  perspective: 400px;
  transition: perspective var(--animation-duration) ease-in-out;

  &.active {
    perspective: 1800px;
    z-index: 60;
  }
}
.readable-background {
  animation: fadeIn 1s ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: both;
}

.text-content {
  .fadeInElement {
    opacity: 0;
    transform: translateY(-20%);
    transition: 1.5s;
  }

  .fadeInElement:nth-child(1) {
    transition-delay: 0.5s;
  }
  .fadeInElement:nth-child(2) {
    transition-delay: 1s;
  }
  .fadeInElement:nth-child(3) {
    transition-delay: 1.5s;
  }

  &.show {
    .fadeInElement {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@keyframes showText {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}
