<div
  *ngIf="
    [
      sliderService.selectedSlides.get('active'),
      sliderService.selectedSlides.get('previous')
    ].includes(index)
  "
  class="slide grid grid-cols-5"
  [ngClass]="{ active: activeSlide }"
>
  <div
    class="text-content flex flex-col gap-10 justify-center col-span-full sm:col-span-2 px-8 sm:px-12 z-[180] text-stone-100 opacity-90"
    [ngClass]="{ show: activeSlide }"
    style="font-family: Roboto"
  >
    <h2
      class="fadeInElement uppercase font-medium text-6xl sm:text-7xl leading-[1.125] first-line:text-rose-400"
    >
      {{ slide.body.title }}
    </h2>
    <div class="fadeInElement flex flex-col gap-2">
      <h3 class="text-xl font-bold uppercase">
        {{ slide.body.subtitle }}
      </h3>
      <p class="text-sm opacity-75">
        {{ slide.body.text }}
      </p>
    </div>
    <app-gooey-button class="fadeInElement group inline">
      <span class="flex flex-row items-center gap-2">
        {{ slide.cta.text }}
        <mat-icon class="group-hover:ml-2 transition-all"
          >arrow_forward</mat-icon
        >
      </span>
    </app-gooey-button>
  </div>

  <div
    *ngIf="activeSlide"
    class="readable-background bg-black absolute inset-0 z-[110]"
  ></div>

  <div class="absolute inset-0">
    <jgh-monorepo-content-slider-background-slice
      *ngFor="let slice of sliderService.slices; let index = index"
      [image]="slide.image!"
      [index]="index"
      [maxIndex]="sliderService.settings.amounts.elements"
      [active]="activeSlide"
    ></jgh-monorepo-content-slider-background-slice>
  </div>
</div>
