<div
  class="slider relative w-full h-full p-4 sm:p-12 lg:p-20 gap-4 grid grid-rows-[auto,1rem] bg-stone-500 radial-gradient"
  [ngStyle]="{
    'background-color':
      slides[activeIndex].backgroundColor || 'rgb(120 113 108)'
  }"
>
  <div class="hue-bg absolute inset-0"></div>
  <div class="slides relative w-full h-full z-10">
    <ng-container *ngFor="let slide of slides; let i = index">
      <jgh-bt-blog-slide
        class="absolute inset-0"
        style="transition: opacity 250ms ease-in-out"
        [image]="slide.image"
        [options]="slide"
        [ngClass]="{
          'opacity-100 z-50': i === activeIndex,
          'opacity-0': i !== activeIndex
        }"
      ></jgh-bt-blog-slide>
    </ng-container>
  </div>

  <div class="pagination flex justify-center gap-2 relative z-10">
    <div
      *ngFor="let slide of slides; let i = index"
      class="dot rounded-full w-3 h-3 bg-stone-50 cursor-pointer"
      [ngClass]="{
        'bg-stone-50': i === activeIndex,
        'border-2 border-solid border-stone-50': i !== activeIndex
      }"
      (click)="selectSlide(i)"
    ></div>
  </div>
</div>
