<div
  *ngIf="course"
  class="card group bg-stone-50 border-[1px] border-solid border-stone-100 rounded-md px-4 sm:px-8 py-6 flex justify-between items-center hover:bg-red-500 hover:text-stone-50"
>
  <div class="flex flex-1 items-center gap-4 w-[15%]">
    <div class="place-items-center w-10 hidden lg:grid">
      <fa-icon [icon]="course.icon" size="2xl"></fa-icon>
    </div>
    <div class="flex flex-1 flex-col gap-1">
      <h3 class="text-xs sm:text-sm flex gap-2">Course</h3>
      <span class="font-bold text-md sm:text-xl">
        {{ course.name }}
      </span>
    </div>
  </div>
  <div class="flex flex-1 flex-col gap-1">
    <h3 class="text-xs sm:text-sm">Time</h3>
    <span class="font-bold text-md sm:text-xl">
      {{ course.time }}
    </span>
  </div>
  <div class="flex-1 flex-col gap-1 hidden sm:flex">
    <h3 class="text-xs sm:text-sm">Duration</h3>
    <span class="font-bold text-md sm:text-xl"> {{ course.duration }}min </span>
  </div>
  <div class="flex flex-1 flex-col gap-1 sm:w-[20%]">
    <h3 class="text-xs sm:text-sm">Trainer</h3>
    <span class="font-bold text-md sm:text-xl">
      {{ course.trainer.firstname }}
      <span class="hidden lg:inline">{{ course.trainer.lastname }}</span>
    </span>
  </div>
  <div class="hidden sm:flex flex-1 flex-col gap-1">
    <h3 class="text-xs sm:text-sm">Location</h3>
    <span class="font-bold text-md sm:text-xl">
      {{ course.location }}
    </span>
  </div>
  <div class="hidden sm:flex items-center">
    <jgh-bt-cta>Teilnehmen</jgh-bt-cta>
  </div>
</div>
