<section class="min-h-full relative">
  <div class="mx-auto w-full max-w-7xl min-h-[2300px] grid">
    <div class="grid grid-cols-[2fr,1fr] h-full gap-4">
      <div class="image-container bg-red-400 relative">
        <div class="sticky top-0 h-[clamp(100px,100%,100vh)]">
          <jgh-shop-product-image-slider></jgh-shop-product-image-slider>
        </div>
      </div>
      <div class="description-container bg-blue-400 p-4">
        <h2 class="text-4xl">Headline</h2>
        <h3 class="uppercase tracking-widest font-bold">Subheadline</h3>
      </div>
    </div>
  </div>
</section>
