<jgh-bt-share-bar class="hidden lg:landscape:block"></jgh-bt-share-bar>

<jgh-bt-hero-section></jgh-bt-hero-section>
<jgh-bt-section-video></jgh-bt-section-video>
<jgh-bt-section-details></jgh-bt-section-details>
<jgh-bt-trainer-section></jgh-bt-trainer-section>
<jgh-bt-details-section></jgh-bt-details-section>

<jgh-bt-purchase-plan-section></jgh-bt-purchase-plan-section>
<jgh-bt-testimonials-section></jgh-bt-testimonials-section>
<jgh-lib-full-width-info-bar [image]="personalTrainerImage">
  <h2 class="text-3xl text-stone-50 mb-2 font-bold">
    Need a personal trainer?
  </h2>
  <span class="text-lg text-stone-200 flex items-center">
    <span class="text-red-500 mr-2 relative top-1">
      <mat-icon color="warn">phone</mat-icon>
    </span>
    +49 40 123 456
  </span>
  <a
    class="text-lg text-stone-200 inline-flex items-center"
    href="mailto:gymbro@jgh-dev.de"
  >
    <span class="text-red-500 mr-2 relative top-1">
      <mat-icon color="warn">mail</mat-icon>
    </span>
    gymbro@jgh-dev.de
  </a>
</jgh-lib-full-width-info-bar>
